@media (min-width: 576px) {
    .title{
        font-size: 56px;
    }
    .contentTitle {
        font-size: 24px;
    }
    #content {
        font-size: 16px;
    }
    .box_block{
        width: 75px;
    }
}

@media (min-width: 768px) {
    .title{
        font-size: 66px;
    }
    .contentTitle {
        font-size: 32px;
    }
    #content {
        font-size: 18px;
    }
    .box_block{
        width: 75px;
    }
    .box_block{
        width: 100px;
    }
}

@media (min-width: 1200px) {
    .title{
        font-size: 75px;
    }
    .contentTitle {
        font-size: 40px;
    }
    #content {
        font-size: 24px;
    }
    .box_block{
        width: 150px;
    }
}