@media (min-width: 993px){
    .title{
        font-size: 4em;
    }
    .contentTitle {
        font-size: 2em;
    }
    #content {
        font-size: 1.2em;
    }
    .box_block{
        width: 9em;
    }
}

@media (max-width: 992px) {
    .title{
        font-size: 4.5em;
    }
    .contentTitle {
        font-size: 2.2em;
    }
    #content {
        font-size: 1.5em;
    }
    .box_block{
        width: 7em;
    }
}


@media (max-width: 768px) {
    .title{
        font-size: 4.5em;
    }
    .contentTitle {
        font-size: 2em;
    }
    #content {
        font-size: 1.25em;
    }
    .box_block{
        width: 6.2em;
    }
}

@media (max-width: 480px) {
    .contentBackGround{
        max-width: 20rem;
    }
    #title{
        max-width: 20rem;
    }
    .title{
        font-size: 3em;
    }
    .contentTitle {
        font-size: 1.8em;
    }
    #content {
        font-size: 1em;
    }
    .box_block{
        width: 7.2em;
    }
}
/*
@media (min-width: 576px) {
    .title{
        font-size: 3em;
    }
    .contentTitle {
        font-size: 2em;
    }
    #content {
        font-size: 1.5em;
    }
    .box_block{
        width: 100em;
    }
    .title:hover{
        color:rgb(0, 255, 38)
    }
}

@media (min-width: 768px) {
    .title{
        font-size: 2.5em;
    }
    .contentTitle {
        font-size: 1.5em;
    }
    #content {
        font-size: 1em;
    }
    .box_block{
        width: 10em;
    }
    .title:hover{
        color:rgb(255, 0, 0)
    }
}

@media (min-width: 1200px) {
    .title{
        font-size: 2.5em;
    }
    .contentTitle {
        font-size: 1.5em;
    }
    #content {
        font-size: 1em;
    }
    .box_block{
        width: 10em;
    }
} */